---
import Layout from "../layouts/Layout.astro";
import PageSection from "../components/PageSection.astro";
import Prose from "../components/Prose.astro";
---

<Layout pageTitle="Unauthorised">
  <PageSection>
    <Prose>
      <h1>Unauthorised</h1>
    </Prose>
  </PageSection>
</Layout>
