---
import { siteEmail } from "../data/site.json";

const { class:className } = Astro.props;
---
<nav class:list={[className, 'flex', 'gap-x-4', 'items-center']}>
    <a href="/tunes">Tunes</a>
    <a href="mailto:{siteEmail}">Contact</a>
</nav>