---
import Container from "../components/Container.astro";

const { pageTitle } = Astro.props;
---

<header>
  <Container wrapperClasses="pt-16">
    <h1 class="text-5xl font-headers font-weight-headers text-headers">
      {pageTitle}
    </h1>
  </Container>
</header>
