---
import PageSection from "./PageSection.astro";

const { pageTitle } = Astro.props;
---

<PageSection element="header">
    <h1 class="text-3xl font-headers font-weight-headers text-headers">{pageTitle}</h1>
    <slot />
</PageSection>
