---
import Layout from "../../layouts/Layout.astro";

import SectionPageTitle from "../../components/SectionPageTitle.astro";
import PageSection from "../../components/PageSection.astro";
import Link from "../../components/Link.astro";

import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const tunes = await getCollection("tunes");
  return tunes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <SectionPageTitle pageTitle={entry.data.title}><Link href="/tunes">All tunes</Link></SectionPageTitle>
  <PageSection><div class="prose"><Content /></div></PageSection>
</Layout>
