---
import Layout from "../../layouts/Layout.astro";

import SectionPageTitle from "../../components/SectionPageTitle.astro";
import PageSection from "../../components/PageSection.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const tunes = await getCollection("tunes");
  return tunes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

console.log(entry)

const breadcrumbs = [
  { href: "/tunes", text: "Tunes" },
  { href: "/tunes" + entry.slug, text: entry.data.title,}
];
---

<Layout>
  <SectionPageTitle pageTitle={entry.data.title}
    ><Breadcrumbs links={breadcrumbs} /></SectionPageTitle
  >
  <PageSection
    ><div class="prose prose-h2:font-headers"><Content /></div></PageSection
  >
</Layout>
