---
import Layout from "../../layouts/Layout.astro";

import { siteTitle, siteStrapline } from "../../data/site.json";
import SectionPageTitle from "../../components/SectionPageTitle.astro";
import PageSection from "../../components/PageSection.astro";
import Link from "../../components/Link.astro";

import { getCollection } from "astro:content";
const allTunes = await getCollection("tunes");
---

<Layout pageTitle={siteTitle}>
  <SectionPageTitle pageTitle="Tunes"></SectionPageTitle>
  <PageSection>

    <ul class="space-y-2">
      {
        allTunes.map((tune) => (
          <li>
            <Link href={`/tunes/${tune.slug}`}>{tune.data.title}</Link>
          </li>
        ))
      }
    </ul>
  </PageSection>
</Layout>
