---
import TunesListSearchable from "../../components/lakeland-fiddlers/TunesListSearchable.vue";

import { getCollection } from "astro:content";
const sessionTunes = await getCollection("tunes", ({ id, data }) => {
  return data.publish;
});
---
<div class="prose prose-h2:font-headers">
    <h2>All tunes</h2>
    <TunesListSearchable tunes={sessionTunes} client:load />
</div>


