---
import Figure from "../Figure.astro";
import Link from "../Link.astro";

const { tuneDots } = Astro.props;
---
<div class="max-w-[800px] space-y-8">
    <div><Link target="_blank" href={tuneDots.image.download.src}>Download pdf, {tuneDots.image.download.fileSize}</Link></div>
    <Figure  image={tuneDots.image} />
</div>
